<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>New book</title>
</head>
<body>
<a th:href="@{/books/admin}">back</a>
<br>
<br>
<form th:method="POST" th:action="@{/books/new}" th:object="${newBook}">
  <label for="title">Enter book title: </label>
  <input type="text" th:field="*{title}" id="title"/>
  <div style="color:gray" th:if="${#fields.hasErrors('title')}" th:errors="*{title}"></div>
  <br/>
    <br>
  <label for="numberOfCopies">Enter count of copies: </label>
  <input type="text" th:field="*{numberOfCopies}" id="numberOfCopies" required/>
   <div style="color:gray" th:if="${#fields.hasErrors('numberOfCopies')}" th:errors="*{numberOfCopies}"></div>
  <br/>
    <br>
    <label for="typeName">Enter type of book: </label>
    <input type="text" th:field="*{typeName}" id="typeName"/>
     <div style="color:gray" th:if="${#fields.hasErrors('typeName')}" th:errors="*{typeName}"></div>
    <br/>
    <br>
  <input type="submit" value="Create"/>
</form>

</body>
</html>