<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page Book</title>
</head>
<a th:href="@{/books/admin}">back</a>
<br>
<br>
<p th:text="${'Title: ' + infoAboutBook.getTitle()}"></p>
<p th:text="${'Type of book: ' + typeBook.getTypeName()}"></p>
<p th:text="${'Maximum retention period for book: ' + typeBook.getCountOfDaysToRead()}"></p>
<p th:text="${'Amount of fine per day of delay: ' + typeBook.getFine()}"></p>

<br>

<div th:if="${countBooks == 0}">
    <p th:text="${'No free copies'}" />
</div>

<div th:if="${isOne}">
    <p th:text="${countBooks + ' copy left'}" />
</div>

<div th:if="${countBooks > 1}">
    <p th:text="${countBooks + ' copies left'}" />
</div>
<br>

<form th:method="GET" th:action="@{/books/admin/{id}/edit(id=${infoAboutBook.getBookId()})}">
    <input type="submit" value="Edit">
</form>
<br>
<form th:method="DELETE" th:action="@{/books/{id}(id=${infoAboutBook.getBookId()})}">
    <input type="submit" value="Delete">
</form>

<div th:if="${hasThisBookBeenDeleted != null}">
    <p th:if="${cause == 'Cannot delete a book that has unreturned copies in the journal'}" th:text="${cause}" style="color: gray;"></p>
    <div th:if="${cause == 'Foreign key constraint'}" style="color: gray;">
        <p th:text="${'If you want to delete this book, you must delete all log entries for this book from journal'}"></p>
        <form th:method="DELETE" th:action="@{/books/admin/entries/{id}(id=${infoAboutBook.getBookId()})}">
            <input type="submit" value="Delete entries"></form>
    </div>
</div>
</body>
</html>
